body, h1, ul, li, a {
    margin: 0px;
    padding: 0px;
    background: #fffde8;
    font-family: 'montserrat';
    color: #90703C;
}

.cabecalho-logo {
    color:#90703C;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color:#90703C;
} 

ul {
    list-style: none;
}

.img-sobre,.imagem-produtos {
    margin: 0;
    padding: 0;
    border: 0;
}